<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inferencia</title>
    <style>
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


    </style>
</head>
<body>
    <h1>Inferencia</h1>
    <form action="/inferencia" method="post">

        <label for="feature1">Age:</label>
        <input type="number" step="any" name="Age" required><br>

        <label for="feature2">Occupation:</label>
        <input type="number" step="any" name="Occupation" required><br>

        <label for="feature3">Monthly Inhand Salary:</label>
        <input type="number" step="any" name="Monthly_Inhand_Salary" required><br>

        <label for="feature4">Num Bank Accounts:</label>
        <input type="number" step="any" name="Num_Bank_Accounts" required><br>

        <label for="feature5">Num Credit Card:</label>
        <input type="number" step="any" name="Num_Credit_Card" required><br>

        <label for="feature6">Interest Rate:</label>
        <input type="number" step="any" name="Interest_Rate" required><br>

        <label for="feature7">Num of Loan:</label>
        <input type="number" step="any" name="Num_of_Loan" required><br>

        <label for="feature8">Type of Loan:</label>
        <input type="number" step="any" name="Type_of_Loan" required><br>

        <label for="feature9">Delay from Due Date:</label>
        <input type="number" step="any" name="Delay_from_due_date" required><br>

        <label for="feature10">Num of Delayed Payment:</label>
        <input type="number" step="any" name="Num_of_Delayed_Payment" required><br>

        <label for="feature11">Changed Credit Limit:</label>
        <input type="number" step="any" name="Changed_Credit_Limit" required><br>

        <label for="feature12">Num Credit Inquiries:</label>
        <input type="number" step="any" name="Num_Credit_Inquiries" required><br>

        <label for="feature13">Credit Mix:</label>
        <input type="number" step="any" name="Credit_Mix" required><br>

        <label for="feature14">Outstanding Debt:</label>
        <input type="number" step="any" name="Outstanding_Debt" required><br>

        <label for="feature15">Credit History Age:</label>
        <input type="number" step="any" name="Credit_History_Age" required><br>

        <label for="feature16">Payment of Min Amount:</label>
        <input type="number" step="any" name="Payment_of_Min_Amount" required><br>

        <label for="feature17">Total EMI per month:</label>
        <input type="number" step="any" name="Total_EMI_per_month" required><br>

        <label for="feature18">Amount invested monthly:</label>
        <input type="number" step="any" name="Amount_invested_monthly" required><br>

        <label for="feature19">Payment Behaviour:</label>
        <input type="number" step="any" name="Payment_Behaviour" required><br>

        <input type="submit" value="Realizar Inferencia">
    </form>
</body>
</html>